/*Variables*/
:root {
  --basic-darkblue: #293449;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-yellow:#FFD180;
  --basic-warm: #F7F3EC;
  --basic-grey: #C5C5C5;
  --basic-lightgrey: #EAEAEA;
  --basic-black: #000000;
  --basic-darkgreen: #367315;
  --basic-darkred: #B52933;


  --special-green:  #5FBB2D;
  --special-darkgreen: #518534;
  --special-lightgreen: #8ED78F;
  --special-yellow: #FFBF47;
  --special-lightyellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-darkblue: #161D29;
  --special-lilac: #DC91D8;
  --special-darkred: #BA2732;
  --special-darkblue: #1D2739;
  --special-grey: #B5B5B5;
  --special-shadow: #8E1E26;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-background);
  padding: 0;
}

.main-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px 0px  var(--basic-darkred);
}

.catalog-logo:active{
  background-color: var(--special-darkred);
  box-shadow: 0px 5px 0px 0px var(--special-shadow);
}

.main-navigation-wrapper {
  margin-bottom: 60px;
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
  padding: 0;
}

.menu{
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.user-navigation {
  list-style: none;
}

.main-navigation-wrapper a,
.upper-panel a {
  color: var(--basic-white);
}

.main-navigation-wrapper a{
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 29px;
  padding-right: 29px;
}

.main-navigation-wrapper a:hover {
  background-color: var(--basic-darkblue);
}

.main-navigation-wrapper a:active {
  background-color: var(--special-darkblue);
}

.upper-panel {
  width: 100%;
  min-height: 42px;
  margin-bottom: 46px;
  background-color: var(--basic-darkblue);
  padding: 0;
}

.upper-panel .container{
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-field{
  position: relative;
  flex-grow: 1;
  margin: 0;
}

.search-form input{
  margin: 0;
  padding-left: 42px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 0;
  background-color: transparent;
  width: 100%;
}

.search-form input::placeholder{
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.search-field:focus{
  background-color: var(--basic-white);
}

.search-form input:focus {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
  border: none;
  outline: none;
}

.upper-panel-item{
  position: relative;
}

.upper-panel-item a{
  padding-right: 26px;
  padding-left: 43px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.active a{
  padding-right: 21px;
  padding-left: 35px;
  background-color: var(--basic-red);
}

.make-order a{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 19px;
  padding-right: 16px;
}

.upper-panel-item a:active{
  background-color: var(--special-darkblue);
  color: rgba(255, 255, 255, 0.5);
}

.make-order a{
  background-color: var(--basic-green);
}

.make-order a:hover{
  background-color: var(--special-green);
}
.make-order a:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.header-content .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-top: 0;
}

/*Icons*/

.upper-panel-item svg{
  position: absolute;
  top: 3px;
  left: 20px;
  opacity: 0.3;
}

.active svg {
  position: absolute;
  left: 12px;
}

.search-form svg{
  position: absolute;
  top: 6px;
  left: 15px;
  opacity: 0.3;
  z-index: 10;
}

.search-form:hover svg,
.upper-panel-item:hover svg{
  opacity: 1;
}

.search-form:active svg,
.upper-panel-item:active svg{
  opacity: 0.3;
}

/*??????????????????????*/
.search:focus+svg path{
  top: 18px;
  fill: var(--basic-red);
}
/*************************/

/*Header content*/

.description{
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-left: 40px;
}

.description p,
.contact-information  p{
  margin: 0;
}

.contact-information{
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.phone-number p{
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-top: 7px;
  padding-bottom: 8px;
  border: 3px solid var(--basic-white);
  margin: 0;
  padding-left: 34px;

}

.phone-number{
  position: relative;
  width: 270px;
}

.phone-number::before{
  content: "";
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  background-position: 0 0;
  top: 16px;
  left: 40px;
}

.user-navigation{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.user-navigation a,
.user a{
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.user-navigation li:first-child{
  margin-right: 10px;
}

.login svg{
  position: absolute;
  top: 2px;
  left: 17px;
}

.login:hover path,
.user a:first-child:hover path,
.user a:last-child:hover path{
  fill: var(--basic-blue);
}

.login:active path,
.user a:first-child:active path,
.user a:last-child:active path{
  fill: var(--basic-grey);
}

.user{
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-white);
  padding: 12px 0;
  padding-left: 56px;
  text-align: center;
}

.user a{
  margin: 0;
}

.user a:first-child svg {
  position: absolute;
  left: 15px;
}

.user a:last-child {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  padding-left: 20px;
  padding-right: 14px;
  align-self: center;
}

.user-account{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-account li:first-child{
  padding-right: 40px;
  position: relative;
}

.user-account li:first-child::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: var(--basic-blue);
  border: 1px solid transparent;
  border-radius: 50%;
  top: 10px;
  right: 19px;
}

.user-navigation a{
  padding: 12px 24px;
}

.user-navigation li:first-child a{
  padding-left: 45px;
}

.user-account a{
  color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.user-navigation a:hover,
.user-account a:hover,
.user-account:hover li:first-child::after{
  color: var(--basic-red);
}

.user-navigation a:active,
.user-account a:active,
.user a:active,
.user-account:active li:first-child::after{
  color: var(--basic-grey);
}

/*Main*/
/*Main page*/

.features-section{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 59px;
}

.features-row,
.features-column,
.down-row{
  display: flex;
  justify-content: space-between;
}

.features-row,
.features-column{
  margin: 0;
  padding: 0;
}

.features-column{
  flex-direction: column;
}

.features-item{
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  width: 260px;
  height: 83px;
  background-color: var(--special-yellow);
  list-style: none;
  overflow: hidden;
}

.features-row .features-item:nth-child(2){
  background-color: var(--special-blue);
}

.features-row .features-item:nth-child(3){
  background-color: var(--special-lilac);
}

.features-column .features-item:first-child{
  background-color: var(--special-lightgreen);
}

.features-column .features-item:last-child{
  background-color: var(--special-lightyellow);
  margin-bottom: 0;
}

.features-title{
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.features-description{
  display: block;
  text-align: center;
  padding: 10px;
  width: 115px;
  margin-top: 14px;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.features-description:hover{
  background-color: rgba(197, 197, 197, 0.3);
}

.features-description:active{
  background-color: rgba(169, 169, 169, 0.3);
}

.features-item::before{
  content: "";
  background-image: url("../img/icon-materials.svg");
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 34px;
  right: 43px;
  width: 45px;
  height: 65px;
}

.features-item .new-item{
  top: 0;
  right: 0;
}

.features-row .features-item:nth-child(2)::before{
  background-image: url("../img/icon-tools.svg");
  width: 75px;
  height: 61px;
  right: 31px;
}

.features-row .features-item:nth-child(3)::before{
  background-image: url("../img/icon-vehicle.svg");
  width: 78px;
  height: 62px;
  right: 31px;
  top: 31px;
}

.features-column .features-item:first-child::before{
  background-image: url("../img/icon-sale.svg");
  width: 59px;
  height: 72px;
  right: 45px;
  top: 26px;
}

.features-column .features-item:last-child::before{
  background-image: url("../img/icon-delivery.svg");
  width: 78px;
  height: 63px;
  right: 31px;
  top: 32px;
}

.slider{
  position: relative;
  margin: 0;
  padding: 0;
}

.slide{
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
}

.slide img{
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.slide figcaption{
  padding-left: 24px;
  padding-top: 24px;
  background-color: rgba(0, 0, 0, 0.25);
  padding-bottom: 16px;
}

.slide h2{
  margin: 0;
  margin-bottom: 5px;
}

.slide p{
  margin: 0;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.slide-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.open-catalog{
  display: block;
  position: absolute;
  bottom: 46px;
  margin-left: 24px;

}

.open-catalog:active{
  background-color: var(--special-darkred);
}

.drill-slide{
  display: none;
}

.main-button{
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular{
  margin-top: 59px;
  background-color: var(--basic-warm);
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 14px;
  color: var(--basic-blue);
  align-items: center;
}

.popular h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

/*Services*/

.services{
  width: 100%;
  background-color: var(--basic-background);
  margin-bottom: 70px;
  padding-bottom: 99px;
}

.services .container{
    position: relative;
}

.services .section-title{
  padding-top: 64px;
}

.service-description{
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.service-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.service-btn{
  background-color: var(--basic-blue);
  width: 240px;
  border: none;
  font-family: Cuprum;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  padding-top: 13px;
  padding-left: 22px;
  padding-bottom: 17px;
  text-align: left;
}

.service-btn:hover {
  background-color: var(--basic-darkblue);
}

.service-active,
.service-active:hover{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}


.service-menu{
  display: flex;
  position: relative;
  margin-top: 67px;

}

.service-delivery,
.service-guarantee,
.service-credit{
  position: absolute;
  left: 320px;
  font-family: PT Sans;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-guarantee,
.service-credit{
  display: none;
}

.service-title{
  font-family: Cuprum;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  margin: 0;
}


.services .container::after{
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  top: 250px;
  right: 0px;
  z-index: 1;
}

/*About Info*/

.index-columns{
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.section-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: Cuprum;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.company{
  margin: 0;
  width: 478px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info img{
  padding: 0;
}

.company p,
.contact-info p{
  font-family: PT Sans;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.contact-info p{
  padding: 0;
  margin-bottom: 32px;
}
.contact-info a{
  padding: 0;
  margin-bottom: 25px;
}

.partners {
  list-style: none;
}

.partners li{
  font-size: 18px;
  line-height: 24px;
}

.button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.about-button{
  margin-top: 20px;
  width: 220px;
  height: 38px;
}

.write-button{
  width: 300px;
  height: 38px;
}
/*Catalog page*/

.hummerdrill{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 357px;
  padding: 0;
  margin-top: 21px;
}

.hummerdrill li{
  font-family: PT Sans;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}

.hummerdrill a{
  color: var(--basic-black);
}

.hummerdrill li:not(.current-catalog-page)::after{
  position: absolute;
  content: "";
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  top: 2px;
  right: -27px;
}


.catalog-page{
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
}

/*Filter*/

.filter-list{
  width: 220px;
}

.filter-list h3{
  background-color: var(--basic-warm);
  font-family: PT Sans;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 14px;
}

.sort h3{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 50px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 25px;
}

.filter fieldset:last-child{
  margin-bottom: 34px;
}

.filter legend {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 15px;
  border-top: 1px solid var(--basic-lightgrey);
  padding-top: 16px;
  width: 100%;
}

.filter fieldset:first-child legend{
  border: none;
  padding-top: 0;
  margin-bottom: 0;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  font-family: PT Sans;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
  padding-top: 2px;
}

.filter-option:last-child{
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox svg {
  display: none;
  position: absolute;
  left: -35px;
  top: -2px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-grey);
  border-radius: 3px;
}

.filter-input-checkbox:hover + label::before{
  border: 2px solid var(--special-grey);
}

.filter-input-checkbox:hover + label path{
  fill: var(--special-grey);
}

.filter-input-checkbox:checked+label svg {
  display:block;
}

.filter-input-checkbox:checked+label::before {
  display:none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-grey);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-grey);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before{
  border: 4px solid var(--special-grey);
}

.filter-input-radio:hover:checked + label::after{
  background-color: var(--special-grey);
}

.range-filter{
  width: 220px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-warm);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-grey);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min{
  left: 20px;
}

.range-controls .toggle-max{
  left: 158px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-controls::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 10px;
  left: 48%;
  top: 50%;
  background-color: var(--basic-black);
}

.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--basic-warm);
  border: none;
  padding: 10px;
  width: 75px;
  border-radius: 5px;
}

.show-button{
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  width: 220px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lightgrey);
}

.sort{
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-warm);
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  height: 38px;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 28px;
}

.sort-btns{
  list-style: none;
  display: flex;
  justify-content: space-around;
  min-width: 375px;
  padding: 0;
}

.sort-btns li{
  padding-left: 15px;
}

.sort-btns button{
  border: 0;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 1px dotted var(--basic-red);
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
}

.sort-btns .sorted {
  color: var(--basic-red);
  border: 0;
}

.sort-btns button:not(.sorted):hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-direction{

}

.direction-btn{
  margin-right: 16px;
  border: none;
  width: 11px;
  height: 10px;
}

.direction-btn path{
  fill: var(--basic-red);
}

.direction-btn:not(.sorted):hover path{
  fill: var(--basic-black);
}

.direction-btn:last-child{
}

.direction-btn:last-child path{
  fill: var(--basic-grey);
}

/* Catalog */

.catalog-container{
  display: flex;
  flex-wrap: wrap;
}

.popular-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 70px;
  list-style: none;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  gap: 18px;
  padding: 0;
  margin-top: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lightgrey);
  width: 220px;
  height: 318px;
  overflow: hidden;
}

.new-item::after{
  content: "NEW";
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
  padding-top: 5px;
  transform: rotate(45deg);
  right: -25px;
  top: 10px;
}

.catalog-item:hover,
.manufacturer-item:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.manufacturer-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lightgrey);
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.catalog-item-image{
  margin-top: 29px;
  padding-right: 20px;
}

.catalog-item a {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-title{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.old-price{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey);
  margin: 0;
  margin-top: 7px;
}

.new-price{
  position: relative;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-top: auto;
  padding: 10px 32px;
  padding-right: 20px;
  border-radius: 3px;
}

.new-price::after{
  content: "";
  position: absolute;
  right: -37px;
  bottom: 0px;
  border: 19px solid transparent;
  border-left-color:  var(--basic-red);
}

.item-hover {
  position: absolute;
  background-color: var(--basic-white);
  display: flex;
  z-index: -1;
  flex-direction: column;
  padding: 0;
  padding-left: 13px;
  padding-bottom: 20px;
  margin-left: 28px;
  margin-top: 38px;
  align-self: flex-start;
}

.catalog-item:hover .item-hover,
.manufacturer-item:hover .item-hover {
  z-index: 1;
}

.cart-btn{
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 40px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-darkgreen);
  border-radius: 2px;
  padding-left: 52px;
}

.cart-btn::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.4;
  left: 30px;
  top: 10px;
}

.cart-btn:hover{
  background-color: var(--special-green);
}

.cart-btn:active{
  background-color: var(--special-darkgreen);
}

.favourites-btn{
  font-family: Cuprum;
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  width: 135px;
}

.favourites-btn:hover{
  border-color: var(--basic-blue);
}

.favourites-btn:active{
  border-color: var(--basic-grey);
  color: var(--basic-grey);
  outline: none;
}

.page-title{
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-background);
}

.pages{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
}

.pagination-item {
  margin-right: 10px;
  border: 1px solid var(--basic-lightgrey);
}

.pagination-item a{
  display: block;
  padding: 10px 15px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-item:last-child {
  margin-right: 0;
  width: 120px;
  text-align: center;
}

.pages .current-page{
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}

.pagination-item:not(.current-page):hover{
  border: 1px solid var(--basic-grey);
}

.pagination-item:not(.current-page):active{
  border: 1px solid var(--basic-red);
}

.current-page a{
  color: var(--basic-white);
}

.hummerdrill-info{
  margin-top: 59px;
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 68px;
}

.hummerdrill-info h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal
}

.hummerdrill-info p{
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

/*Footer*/

.main-footer {
  background-color: var(--basic-blue);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-info{
  padding-bottom: 0;
  margin-bottom: 54px;
}

.footer-info p{
  padding-top: 22px;
}

.footer-logo{
  display: flex;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer .container{
  display: flex;
  justify-content: space-between;
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation ul{
  margin: 0;
  display: flex;
  padding-top: 37px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

ul .gold{
  padding-top: 25px
}

.footer-navigation li{
  margin: 0;
  display: flex;
  list-style: none;
  margin-left: 60px;
}

.footer-navigation a{
  color: var(--basic-white);
}

.gold a{
  color: var(--basic-yellow);
}

.footer-navigation a:hover{
  text-decoration: underline;
}

.footer-navigation a:active{
  opacity: 0.5;
}

.footer-wrapper{
  background-color: var(--basic-darkblue);
  font-size: 16px;
  line-height: 18px;
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer-wrapper p{
  margin: 0;
}

.social{
  width: 140px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: 45px;
  margin-right: 50px;
  align-items: center;
}

.social a{
  background-color: var(--special-darkblue);
  color: var(--basic-white);
  padding: 12px 22px;
  border-radius: 50%;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social li:nth-child(2) a{
  background-image: url("../img/icon-fb.svg");
}

.social li:nth-child(3) a{
  background-image: url("../img/icon-insta.svg");
}

.social a:hover,
.social a:active{
  background-color: var(--basic-red);
}

.footer-wrapper p a{
  color: var(--basic-yellow);
}

.footer-wrapper p a:hover{
  text-decoration: underline;
}

.footer-wrapper p a:active{
  color: var(--basic-red);
  text-decoration: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Pop-up*/

.pop-up{
  display: none;
}
