/*Variables*/
:root {
  --basic-darkblue: #293449;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-yellow:#FFD180;
  --basic-warm: #F7F3EC;
  --basic-grey: #C5C5C5;
  --basic-lightgrey: #EAEAEA;
  --basic-black: #000000;
  --basic-darkgreen: #367315;

  --special-green:  #5FBB2D;
  --special-darkgreen: #518534;
  --special-lightgreen: #8ED78F;
  --special-yellow: #FFBF47;
  --special-lightyellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-darkblue: #161D29;
  --special-lilac: #DC91D8;
  --special-darkred: #BA2732;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Main header */

.main-header {
  margin-bottom: 59px;
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-background);
}
.main-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.main-navigation-wrapper {
  margin-bottom: 60px;
  width: 940px;
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-darkblue);
}

.menu{
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.user-navigation {
  list-style: none;
}

.main-navigation-wrapper a,
.upper-panel a {
  color: var(--basic-white);
}

.main-navigation-wrapper a:hover {
  background-color: var(--basic-darkblue);
}

.upper-panel {
  width: 100%;
  height: 42px;
  margin-bottom: 46px;
  background-color: var(--basic-darkblue);
}

.upper-panel .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field input{
  background-color: var(--basic-darkblue);
  border: none;
}

.search-field input::placeholder{
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search-field input:focus {
  background-color: var(--basic-white);
}

.upper-panel-item a:active{
  background-color: var(--special-darkblue);
  color: rgba(255, 255, 255, 0.5);
}

.make-order a{
  background-color: var(--basic-green);
}

.make-order a:hover{
  background-color: var(--special-green);
}
.make-order a:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.header-content .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.description{
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-left: 40px;
}

.contact-information{
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
  text-align: center;

}
.phone-number p{
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 8px;
  border: 3px solid var(--basic-white);
  margin-bottom: 0;
}

.user-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navigation a,
.user a{
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  margin-right: 10px;
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-white);
}

.user-account{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.user-account a{
  color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.user-navigation a:hover,
.user-account a:hover{
  color: var(--basic-red);
}

.user-navigation a:active,
.user-account a:active,
.user a:active{
  color: var(--basic-grey);
}

/*Main*/
/*Main page*/

.index-columns{
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.section-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: Cuprum;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.company{
  margin: 0;
  width: 478px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info img{
  padding: 0;

}

.company p,
.contact-info p{
  font-family: PT Sans;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.contact-info p{
  padding: 0;
  margin-bottom: 32px;
}
.contact-info a{
  padding: 0;
  margin-bottom: 25px;
}

.partners {
  list-style: none;
}

.partners li{
  font-size: 18px;
  line-height: 24px;
}

.button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.about-button{
  margin-top: 20px;
  width: 220px;
  height: 38px;
}

.write-button{
  width: 300px;
  height: 38px;
}
/*Catalog page*/

.hummerdrill{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 357px;
  padding: 0;
}

.hummerdrill li{
  font-family: PT Sans;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.hummerdrill a{
  color: var(--basic-black);
}

.catalog-page{
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
}

/*Filter*/

.filters{
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 42px;
}

.filter fieldset:last-child{
  margin-bottom: 34px;
}

.filter legend {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  font-size: 15px;
  font-family: PT Sans;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.show-button{
  font-family: PT Sans;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  width: 220px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lightgrey);
}

.sort{
  display: flex;
  justify-content: space-between;
}

.sort ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Catalog */

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  gap: 18px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lightgrey);
}

.catalog-item img{
  padding-right: 20px;
}

.catalog-item a {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-title{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}

.old-price{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.new-price{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-top: auto;
}

.cart-btn{
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-darkgreen);
  border-radius: 2px;
}

.cart-btn:hover{
  background-color: var(--special-green);
}

.cart-btn:active{
  background-color: var(--special-darkgreen);
}

.cart-btn img{
  opacity: 0.5;
}

.favourites-btn{
  font-family: Cuprum;
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.favourites-btn:hover{
  border-color: var(--basic-blue);
}

.favourites-btn:active{
  border-color: var(--basic-grey);
  color: var(--basic-grey);
  outline: none;
}


.page-title{
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-background);
}
/*Footer*/

.main-footer {
  background-color: var(--basic-blue);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-info{
  padding-bottom: 0;
  margin-bottom: 54px;
}

.footer-logo{
  display: flex;
  justify-content: center;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer .container{
  display: flex;
  justify-content: space-between;
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation ul{
  margin: 0;
  display: flex;
  padding-top: 37px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

ul .gold{
  padding-top: 25px
}

.footer-navigation li{
  margin: 0;
  display: flex;
  list-style: none;
  margin-left: 60px;
}

.footer-navigation a{
  color: var(--basic-white);
}

.gold a{
  color: var(--basic-yellow);
}

.footer-navigation a:hover{
  text-decoration: underline;
}

.footer-navigation a:active{
  opacity: 0.5;
}

.footer-wrapper{
  background-color: var(--basic-darkblue);
  font-size: 16px;
  line-height: 18px;
}

.social{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.social a{
  color: var(--basic-white);
}

.social a:hover,
.social a:active{
  background-color: var(--basic-red);
}

.footer-wrapper p a{
  color: var(--basic-yellow);
}

.footer-wrapper p a:hover{
  text-decoration: underline;
}

.footer-wrapper p a:active{
  color: var(--basic-red);
  text-decoration: none;
}

/*Pop-up*/

.pop-up{
  display: none;
}
